#bottomside {
	display: block;
	position: static;
}
#topside, #bottomside, #main, #rightside {
	position: static;
}
#main {
	display: block;
	height: auto;
	width: 98%;
}
#rightside {
	display: block;
	float: none;
	left: 2%;
	width: 98%;
	height: auto;
}
.rtmenu {display: inline;}
#help {display: none;}
#rightside #message {display: block;}
